global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'devops-app'
    static_configs:
      - targets: ['web:5000']
  
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['172.17.0.1:9100']
  
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['172.17.0.1:8080']